:root {
	--color-cyan-1: #8ecae6;
	--color-cyan-2: #219ebc;
	--color-blue: #023047;
	--color-yellow: #ffb703;
	--color-orange: #ED560A;
	--color-red: #ED0D0A;
	--color-accent: var(--color-red);
}

* {
	box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
	font-variant-ligatures: none;
	line-height: 1.5;
}

h1, h2, h3, h4 {
	line-height: 1;
}

.font-hw {
  font-family: "Shadows Into Light", cursive;
}

.container {
	padding: 0 5vw;
}

.m-0 {
	margin: 0;
}

.nav-trigger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	background-color: #fff;
	border: 2px solid var(--color-accent);
	position: fixed;
	top: 2rem;
	right: 3.5vw;
	width: 3.5rem;
	height: 3.25rem;
	z-index: 10;
	appearance: none;
	-webkit-appearance: none;
}

.nav-trigger-bar {
	width: 100%;
	height: 2px;
	background-color: #000;
}

/* INTRO
   ------------------------------------------------------- */

.intro {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  width: 100%;
	height: 100%;
}

.intro-inner {
	position: fixed;
	left: 5vw;
	top: 30%;
	transform: translateY(-50%);
  z-index: 1;
}

.intro-title {
	text-transform: lowercase;
/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
	font-size: calc(60px + (200 - 60) * ((100vw - 300px) / (1600 - 300)));
	-webkit-marquee-increment: 0vw; /* force safari to recompute font size */
	line-height: 0.825;
	margin: 0 0 .5em 0;
}

.accent-red-circle {
  position: relative;
}

.accent-red-circle:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.accent-red-circle-01:after {
	background-image: url('/static/svg/red-circle-01.svg');
}

.accent-red-circle-02:after {
	background-image: url('/static/svg/red-circle-02.svg');
	top: -15%;
	right: -15%;
	bottom: -15%;
	left: -15%;
}

.intro-subtitle {
	position: relative;
	font-weight: normal;
	font-size: calc(18px + (50 - 18) * ((100vw - 300px) / (1600 - 300)));
	-webkit-marquee-increment: 0vw; /* force safari to recompute font size */
	margin: 0;
}

.intro-callout {
  color: var(--color-accent);
	position: absolute;
	top: -1em;
	transform: rotate(2.5deg);
}

.intro-callout:before {
  content: "";
	display: block;
	position: absolute;
	left: -5vw;
	bottom: 50%;
	height: 18vh;
	width: 7vw;
	background-image: url('/static/svg/red-arrow-01.svg');
	background-size: contain;
	background-position: bottom center;
	background-repeat: no-repeat;
}


.intro-accent {
  position: absolute;
	top: 0;
	left: 0;
	background-color: whiteSmoke;
	width: 33%;
	height: 44%;
}

.intro-accent-vid {
  position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.intro-accent-1:before {
	content: "";
	display: block;
	position: absolute;
  left: calc(100% + 3vw);
	height: 300%;
	bottom: 5.5vw;
	width: 300%;
	border-bottom: 2px solid var(--color-accent);
	transform: rotate(-1.5deg);
	transform-origin: bottom left;
}


.intro-accent-1:after, .bg-ink-wash {
	background-image: url('https://user-images.githubusercontent.com/623568/141885363-7133eba4-2864-450f-9150-b6919d1df96e.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
}

.intro-accent-1:after {
	content: "";
	display: block;
  width: 80%;
	height: 100%;
	position: absolute;
	right: -3vw;
	bottom: 5.5vw;
	background-color: gray;
	z-index: -1;
	background-position: bottom center;
}

.intro-accent-2 {
  bottom: 0;
	right: 40%;
	top: auto;
	height: 5vh;
}


.intro-description {
  position: fixed;
	bottom: 10vh;
	right: 10vw;
	left: 5vw;
	display: flex;
	justify-content: flex-end;
}

.intro-description::before {
  content: "";
	display: block;
	width: 130%;
	position: absolute;
	bottom: calc(100% + 5vh);
	left: -5vw;
	right: -20vw;
	border-top: 2px solid var(--color-accent);
	transform: rotate(-1.5deg);

}

.intro-description-text {
	display: block;
	text-align: right;
	font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
	-webkit-marquee-increment: 0vw; /* force safari to recompute font size */
}


.intro-ribbon {
  position: fixed;
	width: 5vw;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	overflow: hidden;
}

.intro-ribbon-inner {
  position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	text-align: right;
	color: var(--color-accent);
	font-size: calc(24px + (40 - 24) * ((100vw - 300px) / (1600 - 300)));
	-webkit-marquee-increment: 0vw; /* force safari to recompute font size */
	opacity: 0.6;
}

.intro-ribbon-text {
  font-family: "Space Mono", monospace;
	-webkit-font-smoothing: antialiased;
}

@media all and (min-width: 900px) {
	.intro-inner {
	  top: 40%;
	}

	.intro-description {
	  bottom: 5vh;
	}

	.intro-description-text {
		width: 50%;
	}
}

@media all and (min-width: 1400px) {
	.intro-description-text {
	  width: 42%;
	}
}

@media (orientation: portrait) {
	.intro-description {
		left: 5vw;
	}

	.intro-description-text {
	  width: auto;
	}
}

/* teeny tiny screens */
@media all and (max-height: 440px) {
	.intro-description-text {
	  display: none;
	}
	
}
