---
permalink: /tags/
layout: layouts/full.njk
---

<section class="mt-content">
  <h1 class="m-0">Topics</h1>
  <p>Return to <a href="{{ '/posts/' | url }}">archive</a>.</p>
</section>

<hr class="my-2">

<div class="two-columns">
  {% for tag in collections.tagList | sort() %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="block font-thin decoration-none font-bold">{{ tag }}</a>
  {% endfor %}
</div>
