---
layout: layouts/full.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<section class="mt-content text-center">
  <div class="flex items-center justify-center relative" data-module="animation404">
    <span class="animation404-first heading-massive font-bold lh-1">4</span>
    <canvas class="zdog-canvas"></canvas>
    <span class="animation404-last heading-massive font-bold lh-1">4</span>
  </div>
  <h2 class="mt-n2">Can't find that page.<br/>(Or maybe it got eaten...)</h2>
  <p class="mt-2">Take it <a href="{{ '/' | url }}">from the top</a>.</p>
</section>


<script src="https://unpkg.com/zdog@1/dist/zdog.dist.min.js"></script>

{#
Read more: https://www.11ty.dev/docs/quicktips/not-found/

This will work for both GitHub pages and Netlify:

* https://help.github.com/articles/creating-a-custom-404-page-for-your-github-pages-site/
* https://www.netlify.com/docs/redirects/#custom-404
#}
