---
layout: layouts/full.njk
---

<section class="intro full radial-bottom">
  <div class="content-inner mx-auto">
    <div class="intro-content flow">
      <p class="intro-eyebrow lh-1">Nathan Long</p>
      <h1 class="intro-title">Designer brain,<br/>developer heart.</h1>
      <p>UI Developer at <a href="https://www.viget.com">Viget</a></p>
      <a class="intro-link btn text-small flow-3/2" role="button" draggable="false" href="/about/" data-module="link-button">About Me &rarr;</a>
    </div>
  </div>
</section>

<section class="full flow-0">
  <div class="content-inner mx-auto flow">

    {% set maxPosts = collections.posts.length | min(3) %}
    <p class="section-eyebrow">Writing</p>

    {% set postslist = collections.posts | head(-3) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}

    <a class="btn text-small flow-3" role="button" draggable="false" href="{{ '/posts/' | url }}" data-module="link-button">Archive &rarr;</a>
  </div>
</section>

<section class="py-3 mt-3 radial-top full">
  <div class="content-inner mx-auto flow">
    <p class="section-eyebrow">Labs</p>
    <ul class="lablist p-0 m-0 mb-2 space-y-1">
      {%- for lab in labs %}
        {% if lab.feature %}
          {% include "labitem.njk" %}
        {% endif %}
      {%- endfor %}
    </ul>

    <a class="btn text-small" role="button" draggable="false" href="{{ '/lab/' | url }}" data-module="link-button">More Projects &rarr;</a>
  </div>
</section>
