---
layout: layouts/full.njk
permalink: /lab/
bodyClass: radial-mid
eleventyNavigation:
  key: lab
  title: Lab
  order: 3
---

<section class="mt-content feature text-center">
  <h1>Lab</h1>
  <p>Side projects, demos, random things I've built...</p>
</section>

<hr class="mt-2 mb-2">

{% set lablist = labs %}
{% include "lablist.njk" %}
