---
layout: layouts/full.njk
bodyClass: radial-mid
permalink: /newsletter/
eleventyNavigation:
  key: newsletter
  title: Newsletter
  order: 4
---

<section class="mt-content text-center">
  <h1>Newsletter</h1>
  <p>Every week I spew out thoughts, links, and occasional insights about working in the web industry.</p>
</section>

<hr class="mt-2 mb-2">


<h3>Subscribe to 'Net Noodlings with Nathan'</h3>

<div class="rounded-1 overflow-hidden leading-none">
<iframe
scrolling="no"
style="width:100%!important;height:180px; border:0;"
src="https://buttondown.email/nathanlong?as_embed=true"
></iframe>
</div>

<p>To see what schenanigans you can expect, <a href="https://buttondown.email/nathanlong/archive">view the archives</a>, or even subscribe through <a href="https://buttondown.email/nathanlong/rss">RSS</a>.</p>

<p>I will never spam you. <small class="font-xsmall">Only send bad jokes...</small></p>
