---
layout: layouts/full.njk
bodyClass: radial-mid
permalink: /newsletter/
eleventyNavigation:
  key: newsletter
  title: Newsletter
  order: 4
---

<section class="mt-content text-center">
  <h1>Newsletter</h1>
  <p>Every week I spew out thoughts, links, and occasional insights about working in the web industry.</p>
</section>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/nathanlong"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/nathanlong', 'popupwindow')"
  class="embeddable-buttondown-form flow text-center p-1 flex flex-col items-center rounded-1 border-1 mt-4 border-standard bg-background-offset popout"
>
  <img class="rounded-full w-7 mt-4-neg aspect-square" src="https://github.com/user-attachments/assets/fc883491-4f35-406c-a42b-021de0d35327" />
  <h2 class="mt-0">Net Noodlings with Nathan</h2>

  <label for="bd-email">Enter your email to sign up</label>
  <input type="email" name="email" id="bd-email" class="flow-0 block w-full" />
  <input class="btn block" type="submit" value="Subscribe" />
  <p class="font-xsmall">
    <a href="https://buttondown.email/refer/nathanlong" target="_blank">Powered by Buttondown.</a>
  </p>
</form>

<div class="flow text-center">
  <p>To see what schenanigans you can expect, <a href="https://buttondown.email/nathanlong/archive">view the archives</a>, or even subscribe through <a href="https://buttondown.email/nathanlong/rss">RSS</a>.</p>

  <p>I will never spam you. <small class="font-xsmall">Only send bad jokes... Like...</small></p>

  <details class="font-xsmall" data-module="jokes">
    <summary class="font-bold" data-joke>Loading joke...</summary>
    <p data-punchline>Because they <code>habanero</code>...</p>
    <button class="btn mt-1" data-moar>MOAR!</button>
  </details>
</div>
