---
layout: layouts/full.njk
permalink: /trackerless/
eleventyExcludeFromCollections: true
---

<div class="flex justify-center items-center mt-content">
  <img src="https://github.com/user-attachments/assets/6650f9fc-80d0-4169-8a86-25e53e24109f" alt="" class="w-7">
</div>

<section class="feature text-center">
  <h1>Certified No-AI No-Tracker Web-Burger</h1>
  <p class="wrap-balance">This website is a guaranteed 100% trackerless, free-range, web burger.</p>
  <p>Made with No-AI.</p>
</section>

<hr class="my-2">

<article class="flow">
  <p><strong>No AI? What are you, a luddite?</strong></p>
  <p>Eh, not in the sense you might be thinking. There's some fascinating  things happening in that space, but I greatly value the practice and discipline of creating things. Here—in my own little corner—it's just me.</p>
  <p><strong>No trackers? How will you know who visits your site?</strong></p>
  <p>I won't! But hey, YOU'RE here...</p>
  <p class="flow-2"><strong>But how will you know what content is performing well?</strong></p>
  <p>I won't! But I don't publish content for views, <a href="https://adactio.com/journal/20996">I publish for myself</a>. If someone is helped by something I wrote, I hope they will reach out like the beautiful 100% human-being they are and <a data-module="email-hider" data-no-replace>let me know</a>.</p>
  <p class="flow-2">
    <small class="color-reduced">Dancing burger animation by <a href="https://giphy.com/stickers/food-hungry-burger-2NcM1fPMZ5EWDh694K">Alex Bradt</a></small>
  </p>
</article>

