<ul class="postlist p-0 space-y-2">
  {% for post in postslist | reverse %}
  <li class="flex flex-col items-baseline">
    <h2 class="heading-200 mb-1/4"><a href="{{ post.url | url }}" class="font-thin m-0 font-bold decoration-none tracking-1">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h2>
    <p class="postlist-meta m-0">
    <span class="divide-comma inline-block">
      {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag py-1/2">{{ tag }}</a>
      {% endfor %}
    </span>
    <time class="postlist-date font-xsmall font-mono" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </p>
  </li>
  {% endfor %}
</ul>
