// Colors

$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$off-white: #f7f9fb;
$near-white: #f7f7f7;
$silver: #ddd;
$gray: #aaa;
$steel: #999;
$charcoal: #555;
$carbon: #4d4d4d;
$black: #333;


$primary-accent: $blue;
$secondary-accent: $teal;

$text-color: $carbon;
$link-color: $primary-accent;
$link-hover-color: $secondary-accent;
$border-color: desaturate(lighten($blue, 35%), 50%);

// Fonts

$sans-serif: "Source Sans Pro", sans-serif;
$monospaced: "Source Code Pro", monospace;

// Mixins

$small: 676px;

// Inline media queries
@mixin respond-min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}


