// Base
// ----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $sans-serif;
  line-height: 1.5;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

// Basic Text Styles
// ----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
}

h1 {
  font-weight: 300;
  font-size: 3em;
  margin-top: 0;
}

h2 {
  font-weight: 300;
  font-size: 2em;

  @include respond-min($small) {
    font-size: 2.5em;
  }
}

a {
  color: $link-color;
  transition: color 0.25s ease-in-out;
  
  &:hover {
    color: $link-hover-color;
  }
  &:visited {
    color: darken($link-color, 10%);
  }
  &:visited:hover {
    color: darken($link-hover-color, 10%);
  }
}

ul {
  list-style: none;
  padding-left: 1.25em;
}

ul li:before {
  content: "-";
  display: inline-block;
  margin-left: -1.25em;
  margin-right: 1em;
  *display: inline;
  zoom: 1;
}

ol {
  padding-left: 1.25em;
}

hr {
  display: block;
  height: 1px;
  background: $border-color;
  border: 0;
  width: 4em;
}

time {
  color: $gray;
  text-transform: uppercase;
}

// Forms
// ----------------------------------------------------------------------------

input[type="email"],
input[type="search"],
input[type="text"],
input[type="password"],
textarea,
select {
  border: 1px solid $border-color;
  height: 36px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  box-shadow: none;
  font-weight: 400;
  background: #fff; }
/* Removes awkard default styles on some inputs */
input[type="email"],
input[type="search"],
input[type="text"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
textarea {
  min-height: 5em;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid $primary-accent;
  outline: 0; }
label,
legend {
  display: block;
  font-size: 0.888em;
  color: $primary-accent;
  font-weight: 400;
}
fieldset {
  border-width: 0;
  padding: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  font-weight: normal;
  margin-left: .5em; }


// Helper Classes
// ----------------------------------------------------------------------------

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

// Visually hide, but allow screen readers

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Allows focusing of hidden elements

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
