// Structure

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;

  @include respond-min($small) {
    max-width: 40em;
    padding-left: 0;
    padding-right: 0;
  }
}

.oldie .container {
  max-width: 40em;
  padding-left: 0;
  padding-right: 0;
}

// Buttons

.btn {
  display: inline-block;
  background: $primary-accent;
  color: $white;
  padding: .5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  transition: background 0.25s ease-in-out;
  border: 0;

  &:hover {
    background: $secondary-accent;
  }

  &:visited, &:visited:hover {
    color: $white
  }
}

// Header + Nav

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  display: block;
  float: none;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  padding-top: 1em;

  @include respond-min($small) {
    float: left;
    padding: 1em 0;
    text-align: left;
  }
}

.nav {
  text-align: center;
  float: none;
  margin: 0 auto;
  font-weight: 100;

  @include respond-min($small) {
    float: right;
    padding: 1em 0;
  }
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
}

.nav-link + .nav-link {
  margin-left: 1em;
}

.nav-link.title {
  font-weight: 700;
}

// Intro

.intro {
  width: 100%;
  background-color: $near-white;
  padding-top: 8em;
  padding-bottom: 6em;
  text-align: center;
  position: relative;
  border-bottom: 1px solid darken($near-white, 3%);
  padding-left: 1em;
  padding-right: 1em;

  @include respond-min($small) {
    padding-left: 0;
    padding-right: 0;
  }
}

.intro-shallow {
  padding-top: 5em;
  padding-bottom: 2em;

  @include respond-min($small) {
    padding-bottom: 3em;
  }
}

.intro-title {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.125;
  z-index: 10;
  padding: 0 1em;

  @include respond-min($small) {
    font-size: 4em;
    
  }
}

.intro-subhead {
  margin-top: 0;
  font-weight: 300;
  font-size: 1em;
  color: $steel;
  text-transform: uppercase;
  z-index: 10;

  @include respond-min($small) {
    font-size: 2em;
  }
}

.intro-copy {
  margin-bottom: 0;
  z-index: 10;
  @include respond-min($small) {
    font-size: 1.25em;
  }
}

.intro canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
}

#js-intro {
  background-color: transparent;
  border-bottom-width: 0px;
}

.oldie #js-intro {
  background-color: $near-white;
  border-bottom-width: 1px;
}

// Chunk

.chunk {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.chunk-title {
  font-weight: 300;
  font-size: 2em;
}

.chunk ul {
  padding-left: 0;
}


.chunk li {
  font-weight: 600;
  margin: 0;
}

.chunk li:before {
  content:"";
  display: inline;
  margin: 0;
}

.chunk .chunk-list li {
  margin: 0;
}

.oldie .chunk {
  width: 100%;
}

// Blog

.blog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog-post {

  border-top: solid 1px $border-color;
  padding: 1.5em 0;

  &:before {
    content: "";
    display: none;
  }
}

.blog-link {
  text-decoration: none;
}

.blog-title {
  margin: 0;
}

.blog-dek {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: .9em;
  color: $charcoal;
}

.blog-time {
  color: $gray;
  font-size: .9em;
  margin: 0;
}

// Single Page Setup

.post, .single {
  margin-top: 2em;
  margin-bottom: 2em;

  @include respond-min($small) {
    margin-top: 4em;
    margin-bottom: 4em;
  }
}

// Content

.content {
  @include respond-min($small) {
    font-size: 1.25em;
    line-height: 1.6;
  }
}

.content--article {
  li {
    margin-bottom: .5em;
  }

  li li {
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
  }

  hr {
    margin: 2em auto;
  }
}

.inset {
  padding: 1em;
  background: $near-white;
  margin-top: 1em;
  margin-bottom: 1em;
}

.image {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;

  @include respond-min($small) {
    margin-left: -2em;
    margin-right: -2em;
  }

  img {
    max-width: 100%;
  }
}

.flush-image {
  margin: 2em 0;
}

.oldie .image {
  margin-left: -2em;
  margin-right: -2em;
}


// Social

.social-share {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

// Post Nav

.post-nav {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prev, .next {
  display: block;
  float: left;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

// Contact - built to fit Wufoo forms

.contact {

  ul {
    list-style: none;
    padding-left: 0;
  }

  li:before {
    content: "";
    display: inline;
    margin: 0;
  }

  li {
    display: block;
    margin-bottom: 1em;
  }

  form {
    max-width: 20em;
    margin: 0 auto;
  }

  input, textarea, select {
    width: 100%;
  }

  .btn {
    font-size: 0.8em;
  }
}


// Footer

.footer {
  padding: 1em;
  border-top: solid 1px $border-color;
  font-size: .75em;
  color: $gray;

  a {
    text-decoration: none;
  }
}


// Animations

.header, .intro-title, .intro-subhead, .intro-copy, .content {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-animation: fadein 0.6s 0.5s 1 forwards ease-in-out;
  -moz-animation: fadein 0.6s 0.5s 1 forwards ease-in-out;
  animation: fadein 0.6s 0.5s 1 forwards ease-in-out;
}

.header {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}

.intro-title {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.intro-subhead {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.intro-copy {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.content {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}


@-webkit-keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1; 
  } 
}

@-moz-keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    opacity: 0; 
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1; 
  }   
}

@keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1; 
  } 
}

// IE fixes - for kicks and giggles

.oldie canvas {
  display: none;
}

