// Breakpoints
// ----------------------------------------------------------------------------

// Small devices (landscape phones, 576px and up)
$screen-sm: 576px;

// Medium devices (tablets, 768px and up)
$screen-md: 768px;

// Large devices (desktops, 992px and up)
$screen-lg: 992px;

// Extra large devices (large desktops, 1200px and up)
$screen-xl: 1200px;


// Colors
// ----------------------------------------------------------------------------

$blue:  #0074D9;

// Neutrals
$midnight: rgba(15, 15, 20, 1);
$blueblack: rgba(24, 23, 26, 1);
$white: rgba(255,255,255,1);

// Color Assignments

$color-background: $blueblack;
$color-nav-background: rgba(15,15,20,.3);
$color-link: $white;
$color-link-hover: $blue;


// Fonts
// ----------------------------------------------------------------------------

$font-display: 'Big Shoulders Inline Display', cursive;
$font-body: 'Work Sans', sans-serif;
$font-mono: 'Space Mono', monospace;
