.intro {
	position: relative;
	background: rgb(9,17,27);
	background: -moz-linear-gradient(180deg, rgba(9,17,27,1) 0%, rgba(9,41,75,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(9,17,27,1) 0%, rgba(9,41,75,1) 100%);
	background: linear-gradient(180deg, rgba(9,17,27,1) 0%, rgba(9,41,75,1) 100%);
	padding-bottom: 3vh;

	@include small-screen {
	  padding-bottom: 5vh;
	}

	@include medium-screen {
		padding-bottom: 10vh;
	}
}

.intro-particles {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:-10000px 0;}
}

.intro-clouds {
  background-image: url('/static/img/clouds3.png');
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  animation: move-clouds-back 400s linear infinite;
	pointer-events: none;
	opacity: 0.7;
}

.intro-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: -2px;
	left: 0;
	z-index: 1;
	background-image: url('/static/img/mountain-silo-01.svg');
	background-position: bottom center;
	background-size: contain;
	background-repeat: no-repeat;
	pointer-events: none;
}

.intro-container {
  display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
  padding-top: 8vh;
	padding-bottom: 8vh;
	position: relative;
	z-index: 2;
	pointer-events: none;

	@include medium-screen {
	  flex-direction: row;
		padding-top: 12vh;
		padding-bottom: 12vh;
	}

	a {
	  pointer-events: all;
	}
}

.intro-title {
  font-size: 3.5rem;
	margin: 0 0 4vh 0;
	line-height: 1.125;

	@include medium-screen {
		font-size: 4.5rem;
	}
}

.intro-subhead {
  margin: 0;
}

.intro-social {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin-top: 2rem;

	@include medium-screen {
		margin-top: 0;
		text-align: right;
	}
}

.intro-social-link {
	display: block;
	line-height: 1.5;
}

.intro-accent {
  position: absolute;
	top: 20vh;
	right: 15vw;
	width: 100px;
	height: 100px;
	background-color: darkblue;
}
