---
layout: default
---

<section class="intro intro-shallow">
  <h1 class="intro-title">{{ page.title }}</h1>
  <p class="intro-copy">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</section>

<div class="container">
  <article class="post content">
    {{ content }}
  </article>
</div>
<hr>
<section class="social-share container">
  <a href="http://twitter.com/home?status={{page.title | cgi_escape}} {{page.url | prepend: site.url}}">Tweet This &rarr;</a>
</section>
