---
layout: default
---

<section class="intro intro-shallow">
  <h1 class="intro-title">{{ page.title }}</h1>
  {%if page.dek%}<p class="intro-copy">{{page.dek}}</p>{% endif %}
</section>

<div class="container">
  <article class="post content content--article">
    {{ content }}
  </article>
</div>
<hr>
<section class="social-share container">
  <p><time>{{ page.date | date: "%b %-d, %Y" }}</time> &mdash; <a href="http://twitter.com/home?status={{page.title | cgi_escape}} {{page.url | prepend: site.url}}">Tweet</a> &mdash; <a href="http://www.twitter.com/nathanmlong">Follow @nathanmlong</a></p>
  <p></p>
</section>
