---
layout: layouts/base.njk
templateClass: tmpl-post prose
---

<div class="mt-content mb-2">
  <h1 class="mb-0">{{ title }}</h1>
  <span class="divide-comma inline-block">
  {%- for tag in tags | filterTagList %}
  {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="uppercase decoration-none font-bold text-small font-thin after:color-text">{{ tag }}</a>
  {%- endfor %}
  </span>
  <time class="uppercase text-small" datetime="{{ page.date | htmlDateString }}">- {{ page.date | htmlDateString }}</time>
</div>

{{ content | safe }}

<div class="mt-2">
  <p class="section-eyebrow m-0">Discussion</p>

  {% set mailitems = ['mailto:', metadata.author.email, '?subject=Re:', title] %}
  <p>Want to discuss? Reply by:
    <a href="{{ mailitems | join }}">Email</a>
    {%- if github %}
    <span>or</span>
    <a href="{{ github ~ '#issue-comment-box' }}">Github</a>
    {% endif %}
  </p>
</div>

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<div class="feature py-1 color-reduced mt-2">
  <ul class="content-inner flex justify-between list-none p-0 m-0 w-full">
    <li class="grow w-1/2">
      <span class="uppercase decoration-none text-small">Previous:</span><br/>
      {%- if previousPost %}
        <a href="{{ previousPost.url | url }}" class="decoration-none font-thin font-bold">{{ previousPost.data.title }}<br/>&larr;</a></li>
      {% else %}
        <span class="font-thin font-bold">You're at the very beginning!<br/>🙃</span>
        </li>
      {% endif %}
    <li class="text-right grow w-1/2">
      <span class="uppercase decoration-none text-small">Next:</span>
      <br/>
      {%- if nextPost %}
        <a href="{{ nextPost.url | url }}" class="decoration-none font-thin font-bold">{{ nextPost.data.title }}<br/>&rarr;</a>
      {% else %}
        <span class="font-thin font-bold">You're all caught up!<br/>😎</span>
      {% endif %}
    </li>
  </ul>
</div>
{%- endif %}
{%- endif %}
